// **************************************
// components/_images.scss
// Image styles
// **************************************

.img {

    // .img--logo
    &--logo {
        @extend %img;
        padding-bottom: 30px;
        height: 120px;
        width: auto;

        @include media-query($breakpoint: $desktop-breakpoint) {
            height: 80px;
            padding: 0;
        }
    }

    // .img--avatar
    &--avatar {
        @extend %img;
        width: 50%;
        height: auto;

        @include media-query($breakpoint: $desktop-breakpoint) {
            width: auto;
            height: 200px;
        }
    }

    // .img--frame
    &--frame {
        @extend %img;
        padding: 15px;
        border: 1px solid $image-border-color;
        width: 100%;
        height: auto;

        @include media-query($breakpoint: $desktop-breakpoint) {
            width: auto;
            height: 200px;
        }
    }
}