// **************************************
// components/navigation.scss
// Navigation styles
// **************************************


.nav {
    @extend %nav;
    margin-bottom: 70px;

    // .nav__item
    &__item {
        @extend %nav__item;
        border-radius: 6px;

        // .nav__item:first-child
        &:first-child {
            margin-top: 0;
        }

        // .nav__item:last-child
        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            background-color: $primary-color;
            color: $white-color;
        }
    }

    @include media-query($breakpoint: $desktop-breakpoint) {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 200px 0 100px;
        margin: 0;
        height: 100%;

        &__item {
            margin: 0 10px;
            padding: 10px 5px;
        }
    }
}